@import "config";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

body{
  font-size: 16px;
  background: $gradient;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
}

.weather-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
}

.timezone,
.temp{
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

.timezone{

  &__title{
    font-size: 2.5em;
  }
  &__icon{
    width: 100px;
  }
}

.temp{
  height: 150px;
  flex-direction: column;

  &__header{
    display: flex;
    align-items: center;
    // gap: 0.5rem;
    cursor: pointer;
    user-select: none;
  }
  &__title{
    font-size: 2em;
  }
  &__symbol{
    font-size: 1.5em;
  }
  &__desc{
    text-transform: capitalize;
  }
}